modules = ["python-3.11"]

run = "python main.py"

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "uvicorn main:app --host 0.0.0.0 --port $PORT"]

[[ports]]
localPort = 8000
externalPort = 80

[nix]
channel = "stable-24_05"

[env]
PYTHONUNBUFFERED = "1"
